
:root{
    --box-centered-width: 350px;
    --box-centered-height: 250px;
}

body{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: 120px;  
}
.header-text{
    padding: 10px;
    flex-shrink: 0;
}
.header,.footer {
    background-color: rgba(248,169,96,1);
    box-shadow: 2px 2px 3px rgba(255,162,29, .7);
    color: white;
    color: white;
}
.header > h1, 
.header > p {
    padding: 10px;
}

.container{
    display: block;
    border: 1px solid gray;
    padding: 20px;
    width: 100%;
    height:  400px;
    overflow-y: scroll;
}
.footer{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;

}
.footer-text{

    padding: 0;

}
.card {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    width: 300px;
    height: 120px;
}
.card-body{
    display: flex;
    height: 100%;
}
.card-img{
    background-color: lightgray;
    width: 120px;
    border-right: 1px solid gray;
    height: 100%;
}
.card-text{
    width: 100%;
    padding: 5px 2px;

}
.card-text > div {
    width: 98%;
    padding: 10px 10px 20px;
    font-size: .58rem;
}
.card-text > div > h2 {
    margin: 0;
    padding: 0;
}
.card-text > div > p {
    margin: 0;
    padding: 0;
}
.card-footer{
    position: relative;
    display: flex;
    align-self: flex-end;
}

.card-footer > div {
    position: absolute;
    font-size: .9rem;
    bottom: 10px;
    left: -120px;
}

.btn {
    display: inline-block;
    width: 120px;
    padding: 5px 6px; 
    border-radius: 10px;
    border: 1px solid;
    margin-right: 10px;
    cursor: pointer;
}

.btn-primary{
    background-color: blue;
    color: white;

}

.btn-primary:hover{
    background-color: lightblue;
    color: black;
}
.btn-primary:active{
    background-color: gray;
    border-color: lightgray;
}

#box-centered{
    position: fixed;
    width: var( --box-centered-width);
    height: var( --box-centered-height);
    top: calc( 50vh - var( --box-centered-height)/2  );
    left: calc( 50vw - var( --box-centered-width)/2 );
    display: none;
    background-color: darkgray;
}
''
#content-box-centered{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#content-box-centered .box-header{
    height: 30px;
}
#content-box-centered .box-header,
#content-box-centered .box-footer{
    background-color: royalblue;
}

.box-title-bar{
    display: flex; 
    justify-content: space-between; 
    height: 100%;
}
.box-title-bar-text{
    text-align: center; 
    height: 100%; 
    padding: 5px;
    color: white;
}
.box-title-bar-close-button{
    text-align: center; 
    height: 100%; 
    padding: 5px;
    color: white;
}
.box-title-bar-close-button > button {
   background-color: red; 
   color: white;
   height: 100%; 
   width: 35px; 
   cursor: pointer;
}